= form_with url: search_path, method: :get, class: 'd-flex', local: true do |f|
  = f.text_field :query, class: 'form-control me-2', placeholder: placeholder, value: params[:query]
  = f.submit t('shared.search'), class: 'btn btn-outline-success'