<main>
  <div style="text-align: center">
    <h1><%= t('.title') %></h1>
    <p><%= t('.subtitle') %></p>

    <%= link_to t('shared.login'), new_user_session_url %> |
    <%= link_to t('shared.signup'), new_user_registration_url %>
  </div>
</main>