<main>
  <div style="text-align: center">
    <h1>Project Management System Dashboard</h1>
    <p>You have to be authenticated to continue</p>

    <%= link_to 'Log in', new_user_session_url %> |
    <%= link_to 'Sign up', new_user_registration_url %>
  </div>
</main>